node_modules/
config/local.js
crawler/htmls
crawler/qqmusic/qqmusic_albums
crawler/qqmusic/m4a
crawler/qqmusic/olds
crawler/musopen/htmls_old
crawler/musopen/htmls
crawler/qqmusic/htmls
crawler/qqmusic/htmls_details
crawler/naxos_com/htmls
crawler/naxos_music_library/htmls
*.swp
*.swo
*.swm
*.swn
*.pyc

frontend/dist
config/local.ts
