<html>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content=" user-scalable=no, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="Calculon 0x00111111@gmail.com">
    <head>
        <link rel="stylesheet" type="text/css" href="css/mclassical.css">
        <script src='js/mclassical-base.js'></script>
        <script src='js/mclassical-pano.js'></script>
    </head>
<body>
        <div id="pano">
            <div id="container">
                <div id="camera">
                </div>
            </div>
        </div>
        <table id="music-details">
            <tbody>
                <tr>
                    <td>
                        <div id="music-wrap">
                            <div id="music-album">
                                <div id="music-album-full"></div>
                            </div>
                            <div id="music-info-wrap">
                                <div id="music-songname">songname</div>
                                <div id="music-singer">singer</div>
                                <div id="music-albumname">albumname</div>
                                <div id="music-more">More</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    <audio id="audio" autoplay="autoplay" style="width:0;height:0;visibility:hidden" ></audio>
</body>
<script>

        var QQMusicUrls=JSON.parse('<%-JSON.stringify(QQMusicUrls)%>');

        var Musics={};
        var ri=0;
        var rj=-70;
        var zindex=0;
        for(var i in QQMusicUrls){
            $.get(QQMusicUrls[i],function(res){
                res=JSON.parse(res);
                if(res.showapi_res_body&&res.showapi_res_body.pagebean&&res.showapi_res_body.pagebean.contentlist){
                    var clist=res.showapi_res_body.pagebean.contentlist;
                    for(var j in clist){
                        if(j>13)break;
                        Musics['QQMusic_'+clist[j].songid]={};
                        Musics['QQMusic_'+clist[j].songid].songid=clist[j].songid;
                        Musics['QQMusic_'+clist[j].songid].songname=clist[j].songname;
                        Musics['QQMusic_'+clist[j].songid].singer=clist[j].singername;
                        Musics['QQMusic_'+clist[j].songid].albumname=clist[j].albumname;
                        Musics['QQMusic_'+clist[j].songid].audio_url=clist[j].m4a;
                        Musics['QQMusic_'+clist[j].songid].picture_small=clist[j].albumpic_small;
                        Musics['QQMusic_'+clist[j].songid].picture_big=clist[j].albumpic_big;

                        if(rj>=70){
                            rj=-70;
                            ri+=60;
                        }else{
                            rj+=10;
                        }
                        Musics['QQMusic_'+clist[j].songid].rx=rj;
                        Musics['QQMusic_'+clist[j].songid].ry=(ri+rj/80*360)%360;
                        Musics['QQMusic_'+clist[j].songid].zindex=++zindex;

                        pano.loadMusic(Musics['QQMusic_'+clist[j].songid]);
                    }
                }else{
                    console.log('error');
                }

            });
        }


        function moreInfo(e){
            console.log("!");
            e.stopPropagation();

        }
        function hideDetails(){
            $('#music-details').removeClass('show');
        }
        var maxfov=120,fov=120,minfov=120;
        if(checkMobile()){
            maxfov=100;
            fov=100;
            minfov=100;

            $('#music-details').on('touchend',hideDetails);
            $('#music-more').on('touchend',moreInfo);
        }else{
            $('#music-details').on('mouseup',hideDetails);
            $('#music-more').on('mouseup',moreInfo);
        }

        pano.init({
            dom   : $('#pano'), // Panorama dom
            debug : false,          // Debug mode
            rx    : 0,              // Rotation around X axis with degree
            maxfov: maxfov,            // Max field of view
            minfov: minfov,             // Min field of view
            fov   : fov,            // Default field of view

            autoRotate: 0.1,

            mode      : 'viewer'

        });
</script>

</html>
