<html>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content=" user-scalable=no, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="Calculon 0x00111111@gmail.com">
    <head>
        <link rel="stylesheet" type="text/css" href="css/mclassical.css">
        <script src='js/mclassical-base.js'></script>
        <script src='js/mclassical-pano.js'></script>
    </head>
<body>
        <span id="__getwidth"></span>
        <div id="head">
            <div id="logo">
                <div id="search-wrap" class="start">
                    <input id="search">
                    <button id="btn-search">Search</button>
                </div>
                <div id="result-wrap">
                    <div id="result-stick">
                    </div>
                    <div id="result">
                        <div class="tabs">
                            <div data-type="scores" class="tab selected">Scores</div>
                            <div data-type="videos" class="tab">Videos</div>
                            <div data-type="audios" class="tab">Audios</div>
                        </div>
                        <div id="result-content">
                        </div>
                    </div>
                </div>
                <div id="about-wrap" style="display:none">
                    <div id="about-stick">
                    </div>
                </div>
                <div id="magnifier">
                    <div id="stick">
                    </div>
                </div>
            </div>
        </div>

        <div id="pano">
            <div id="container">
                <div id="camera">
                </div>
            </div>
        </div>
        <div id="music-details">
             <div id="music-wrap">
                 <div id="music-album">
                     <div id="music-album-full"></div>
                 </div>
                 <div id="music-info-wrap">
                     <div id="music-info">
                         <div id="music-songname">songname</div>
                         <div id="music-singer">singer</div>
                         <div id="music-albumname">albumname</div>
                     </div>
                     <div id="music-more">More</div>
                 </div>
             </div>
        </div>

    <audio id="audio" autoplay="autoplay" style="width:0;height:0;visibility:hidden" ></audio>
</body>
<script src="/js/template-native.js"></script>
<script id="template-result" type="text/html">
    <#for(var i in imslp){#>
        <a class="result-imslp" target="_Blank" href="<#=imslp[i].link#>"><#=imslp[i].title#></a>
    <#}#>
    <#for(var i in youku){#>
        <a class="result-youku" href="<#=youku[i].link#>"><img class="result-youku-img" width="150"src="<#=youku[i].thumbnail#>"><div class="youku-info"><#=youku[i].title#></div></a>
    <#}#>
    <#for(var i in qqmusic){#>
        <a class="result-qqmusic" href="<#=qqmusic[i].m4a#>">
            <img class="result-qqmusic-img" width="150"src="<#=qqmusic[i].albumpic_big#>">
            <div class="qqmusic-info">
                <div><#=qqmusic[i].songname#></div>
                <div><#=qqmusic[i].albumname#></div>
                <div><#=qqmusic[i].singername#></div>
            </div>
        </a>
    <#}#>
</script>
<script>
        template.config('openTag','<#');
        template.config('closeTag','#>');

        var height=window.innerHeight;
        var width=window.innerWidth;
        $('#result').width(width-30);
        $('#result').height(height-100);
        $('#search').width(width-70);
        $('#btn-search').css('left',width-70-$('#btn-search').width());

        $('#search-wrap').removeClass('start');
        $('#search-wrap').addClass('show');

        var stopSearchAnimation=false;
        function getTextWidth(str,fontsize) {
            var d = document.getElementById('__getwidth');
            d.style.fontSize=fontsize;
            d.innerHTML = str;
            return d.offsetWidth;
        }

        var autoTyping=[
            'The magnifier of classical music'
        ];

        function searchPost(){
            $.post('/search',{
                    type:$('.tab.selected').attr('data-type'),
                    keyword:$('#search').val()
                },
                function(res){
                    if(res.code!=0){
                        alert(res.msg);
                        return;
                    }
                    $('#result-content').html(template('template-result',res));
            });
        }

        function search(keyword){
            $('#search').blur();
            $('#search-wrap').addClass('show');
            $('#result-content').html('');
            if($('#result-wrap').hasClass('show')){
                $('#result-wrap').removeClass('show');
                setTimeout(function(){
                        $('#result-wrap').addClass('show');
                },500);
            }else{
                $('#result-wrap').addClass('show')
            }
            searchPost();
        }

        var inputstr='';
        function changeInput(inputstr){
            return function(){
                if(!stopSearchAnimation){
                    $('#search').val(inputstr);
                }
            }
        }

        var delay=0;
        for(var i in autoTyping){
            $('#search').val('');
            inputstr='';
            for(var j in autoTyping[i]){
                inputstr+=autoTyping[i][j];
                delay+=100;
                setTimeout(changeInput(inputstr),delay);
            }
        }


        var QQMusicUrls=JSON.parse('<%-JSON.stringify(QQMusicUrls)%>');

        var Musics={};
        var ri=0;
        var rj=-70;
        var zindex=0;
        for(var i in QQMusicUrls){
            $.get(QQMusicUrls[i],function(res){
                res=JSON.parse(res);
                if(res.showapi_res_body&&res.showapi_res_body.pagebean&&res.showapi_res_body.pagebean.contentlist){
                    var clist=res.showapi_res_body.pagebean.contentlist;
                    for(var j in clist){
                        if(j>14)break;
                        Musics['QQMusic_'+clist[j].songid]={};
                        Musics['QQMusic_'+clist[j].songid].songid=clist[j].songid;
                        Musics['QQMusic_'+clist[j].songid].songname=decodeURI(clist[j].songname);
                        Musics['QQMusic_'+clist[j].songid].singer=decodeURI(clist[j].singername);
                        Musics['QQMusic_'+clist[j].songid].albumname=decodeURI(clist[j].albumname);
                        Musics['QQMusic_'+clist[j].songid].audio_url=clist[j].m4a;
                        Musics['QQMusic_'+clist[j].songid].picture_small=clist[j].albumpic_small;
                        Musics['QQMusic_'+clist[j].songid].picture_big=clist[j].albumpic_big;

                        Musics['QQMusic_'+clist[j].songid].rx=rj;
                        Musics['QQMusic_'+clist[j].songid].ry=(ri+rj/80*360)%360;
                        Musics['QQMusic_'+clist[j].songid].zindex=++zindex;

                        pano.loadMusic(Musics['QQMusic_'+clist[j].songid]);
                        if(rj>=70){
                            rj=-70;
                            ri+=60;
                        }else{
                            rj+=10;
                        }
                    }
                }else{
                    console.log('error');
                }

            });
        }

        $('#search').focus(function(){
            $(this).addClass('focus');
        });

        $('#search').blur(function(){
            $(this).removeClass('focus');
        });

        function nothing(e){
            e.stopPropagation();
        }
        function moreInfo(e){
            e.stopPropagation();
            stopSearchAnimation=true;
            $('#search').val($('#music-songname').text());
            search($('#music-songname').text());
            $('#music-details').removeClass('show');
        }
        function hideDetails(){
            $('#music-details').removeClass('show');
        }
        function clearSearch(){
            stopSearchAnimation=true;
            $('#search').val('');
        }
        $('#search').on('focus',function(){
            $('#search-wrap').addClass('showbtn');
        });

        function switchTab(){
            $('.tab').removeClass('selected');
            $(this).addClass('selected');
            $('#result-content').html('');
            searchPost();
        }
        function hideResult(){
            $('#result-wrap').removeClass('show');
        }
        function magnifierClick(){
            if($('#search-wrap').hasClass('show')){
                $('#search-wrap').removeClass('show');
                $('#result-wrap').removeClass('show');
                $('#about-wrap').removeClass('show');
            }else{
                $('#search-wrap').addClass('show');
                $('#about-wrap').addClass('show');
                $('#result-wrap').removeClass('show');
            }
        }

        var maxfov=120,fov=120,minfov=120;
        if(checkMobile()){
            maxfov=100;
            fov=100;
            minfov=100;

            $('#music-details').on('touchend',hideDetails);
            $('#music-more').on('touchend',moreInfo);
            $('#music-info').on('touchend',nothing);
            $('#music-album').on('touchend',nothing);

            $('#search').on('touchend',clearSearch);
            $('#btn-search').on('touchend',function(){hideDetails();search($('#search').val());});
            $('.tab').on('touchend',switchTab);
            $('#magnifier').on('touchend',magnifierClick);
        }else{
            $('#music-details').on('mouseup',hideDetails);
            $('#music-more').on('mouseup',moreInfo);
            $('#music-album').on('mouseup',nothing);
            $('#search').on('mouseup',clearSearch);
            $('#btn-search').on('mouseup',function(){hideDetails();search($('#search').val());});
            $('.tab').on('mouseup',switchTab);
            $('#magnifier').on('mouseup',magnifierClick);
        }

        function musicClick(content){
            $('#search-wrap').removeClass('show');
                setTimeout(function(){
                    $('#music-album').css('background-image','url('+content.attr('picture_small')+')');
                    $('#music-album-full').css('background-image','url('+content.attr('picture_big')+')');
                    $('#music-songname').text(content.attr('songname'));
                    $('#music-albumname').text(content.attr('albumname'));
                    $('#music-singer').text(content.attr('singer'));
                    $('#music-details').addClass('show');
                },300);
                $('#audio').attr('src',content.attr('audio_url'));
            $('#result-wrap').removeClass('show');
        }

        pano.init({
            dom   : $('#pano'), // Panorama dom
            maxfov: maxfov,     // Max field of view
            minfov: minfov,     // Min field of view
            fov   : fov,        // Default field of view

            musicClick:musicClick,

            autoRotate: 0.1,

            mode      : 'viewer'

        });
</script>

</html>
