<html>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content=" user-scalable=no, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="Calculon 0x00111111@gmail.com">
    <head>
        <link rel="stylesheet" type="text/css" href="css/mclassical.css">
        <script src='js/mclassical-base.js'></script>
        <title>Master</title>
    </head>
<body style="overflow:scroll">
<h1>Master</h1>
</body>
<script id="template-users" type="text/html">
<table>
<tbody>
<tr>
<td>nickname</td>
<td>headimg</td>
<td>level</td>
<td>position</td>
</tr>
<#for(var i in users){#>
<td><#=users[i].nickname#></td>
<td><img width=100 src="<#=users[i].wechat.headimgurl#>"></td>
<td><#=users[i].level#></td>
<td><#=users[i].wechat.country#><#=users[i].wechat.province#><#=users[i].wechat.city#></td>
<#}#>
</tbody>
</table>
</script>
<script src="/js/template-native.js"></script>
<script>
template.config('openTag','<#');
template.config('closeTag','#>');
$.get('/master/users',function(r){
    if(r.code!=0){
        alert(r.msg);
        return;
    }
    $('body').html(template('template-users',r));
});
</script>
</html>
