<!DOCTYPE html>
<html>
    <head>
    <style>
    p{
        background:#eee;
    }
    </style>
    </head>
  <body>
    <textarea id="text-input" oninput="this.editor.update()" style="display:none"><%include ../README.md%></textarea>
    <div id="preview"> </div>
    <script src="js/markdown.js"></script>
    <script>
      function Editor(input, preview) {
        this.update = function () {
          preview.innerHTML = markdown.toHTML(input.value);
        };
        input.editor = this;
        this.update();
      }
      var $ = function (id) { return document.getElementById(id); };
      new Editor($("text-input"), $("preview"));
    </script>
  </body>
</html>
