<html>
  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content=" user-scalable=no, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0" />
  <head>
    <title>古典音乐放大镜</title>
  </head>
  <body>
    <div id="root"></div>
    <div id="snot-pano">
      <div id="container">
        <div id="camera"></div>
      </div>
    </div>
  </body>
  <script id="template-sprite-music" type="text/html">
    <div class="sprite-music-wrap">
      <div type="<#=spriteType#>" class="sprite-music" style="z-index:<#=zindex#>;background-image:url(<#=album_thumbnail#>);background-size:100%"></div>
    </div>
  </script>
  <script type="text/javascript" src="http://player.youku.com/jsapi"></script>
  <script type="text/javascript" src="<%=cdn_prefix%>/snot-utils.min.js"></script>
  <script type="text/javascript" src="<%=cdn_prefix%>/snot-pano.min.js"></script>
  <script type="text/javascript" src="<%=cdn_prefix%>/index.js"></script>
</html>
